DISCORD_TOKEN=your_bot_token
CLIENT_ID=your_application_id
GUILD_ID=your_server_id
VENT_COMMAND_CHANNEL_IDS=channel_id_one,channel_id_two
VENT_REVIEW_CHANNEL_ID=private_mod_channel_id
VENT_FORUM_CHANNEL_ID=forum_channel_id
